.town {
    &_activities {
        button {
            height: 75px;
            width: 20%;
            font-size: 25px;
        }
    }

    &_modal {
        p, h2 {
            color: #636363;
        }
        &--actions {
            display: flex;
            button {
                margin: 5px 10px;
                display: block;
                width: 200px;
                height: 50px;
            }
        }
    }

    &--warning {
        color: red !important;
    }
}