<h1>Your Character's Profile</h1>
<h3>Stats :</h3>
<ul *ngIf="character$ | async as character">
	<li>Level : {{ character.level }}</li>
	<li>Life point : {{ character.remaining_life_point }}/{{ character.life_point }}</li>
	<li>gold : {{ character.gold }}</li>
	<li *ngIf="character.stats">strength : {{ character.stats.strength }}</li>
	<li *ngIf="character.stats">speed : {{ character.stats.speed }}</li>
	<li *ngIf="character.stats">intelligence : {{ character.stats.intelligence }}</li>
</ul>

<h3>Items :</h3>
<p><span>Not yet</span></p>
