.character-file {
   max-width: 1000px;
   margin: auto;
}

.character-file_list {
    list-style: none;
    background-color: rgb(66, 66, 66);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 600px;
    overflow-y: auto;
}

.character-file_card {
    position: relative;
    width: 46%;
    margin: 2%;
    &--body {
        cursor: pointer;
        text-align: left;
        width: 100%;
        background: rgb(137, 152, 240);
        &:hover, &.selected {  
              background: rgb(107, 119, 187);  

        }
    }

    &--delete {
        position: absolute;
        top:10px;
        right: 10px;
        width: 45px;
        height: 45px;

        .mat-button-wrapper{
            padding: 0px;
        }
    }

    
}
