
    nav {
        position: absolute;
        top:0;
        left:0;
        height: 100vh;
        width: 200px;
        background-color: rgb(83, 107, 122);
        ul {
            list-style: none;
            padding:0;
            li {
                text-align: center;
                a {
                    display: block;
                    padding: 10px;
                    font-size: 18px;
                    text-decoration: none;
                    &:hover{                    
                        background-color: rgb(65, 84, 95);
                    }
                    &.nav--active {                        
                        background-color: rgb(65, 84, 95);
                    }
                }
            }
        }
    }