<div class="battle_modal battle_modal--result">
	<h2>Congratulation ! You have deafeated your foe !</h2>
	<div class="battle_modal-frames">
		<app-character-frame [unit]="character"></app-character-frame>
	</div>
	<p>You have acquired a certain amount of experience</p>
	<p>You search among the remains of the corps your reward :</p>
	<p>Here is your reward :</p>
	<p>(nothing yet, unlucky)</p>

	<div class="battle_modal-user_actions">
		<button mat-button mat-raised-button color="primary" mat-dialog-close>Close</button>
	</div>
</div>
