<nav *ngIf="isPlayerLogged">
	<div *ngIf="character$ | async as character" class="character-status">
		<h2>{{ character.name }}</h2>
		<app-character-frame [unit]="character" [hideName]="true" [whiteMode]="true"></app-character-frame>
		<p class="character-status--money"><mat-icon aria-hidden="false" aria-label="coins">paid</mat-icon> {{ character.gold }}</p>
	</div>
	<ul>
		<li>
			<a routerLink="/town" routerLinkActive="nav--active"> <mat-icon aria-hidden="false" aria-label="town">home</mat-icon> Town </a>
		</li>
		<li>
			<a routerLink="/character-infos" routerLinkActive="nav--active">
				<mat-icon aria-hidden="false" aria-label="Character infos page">person</mat-icon> Character Infos
			</a>
		</li>
		<li>
			<a routerLink="/mist-arena" routerLinkActive="nav--active">
				<mat-icon aria-hidden="false" aria-label="Mist Arena page">shield</mat-icon> Mist Arena
			</a>
		</li>
		<li>
			<a routerLink="/beginner-book" routerLinkActive="nav--active">
				<mat-icon aria-hidden="false" aria-label="Beginner Book">not_listed_location</mat-icon> Beginner book
			</a>
		</li>
		<li>
			<a (click)="onLogout()" routerLink="/"> <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon> Logout </a>
		</li>
	</ul>
</nav>
