 .character-creation {
    &_wrapper {
        padding-top: 40px;
        position: relative;
        display: flex;
        flex-direction: column;

        &_close {
            position: absolute;
            top:0px;
            right:0px;
        }

        h2 {
            color: rgb(49, 49, 49)
        }

        input {
            color: #636363;
        }

    }


}