<div class="battle_modal battle_modal--result">
	<h2>You are dead !</h2>
	<p>Too bad pal ! Looks like you weren't careful enough</p>
	<p>I can lead you to the path of living again, but not without a toll</p>
	<p>You'll have to restart from the very beginning, so may that be a lesson</p>
	<p>Go on now, return to the light, and try not to die again !</p>

	<div class="battle_modal-user_actions">
		<button (click)="onFollowLightBtnClick()" mat-button mat-raised-button color="primary" mat-dialog-close>
			Follow the path to the Light
		</button>
	</div>
</div>
