<div *ngIf="!isBattleOver" class="battle_modal">
	<h2>Let's Fight !</h2>
	<div class="battle_modal-frames">
		<app-character-frame *ngIf="character$ | async as character" [unit]="character"></app-character-frame>
		<app-monster-frame *ngIf="monster$ | async as monster" [unit]="monster"></app-monster-frame>
	</div>
	<div class="battle_modal-user_actions">
		<button (click)="onAttack()" mat-raised-button color="warn">Attack</button>
		<button mat-raised-button disabled color="warn">Magic</button>
		<button mat-raised-button disabled color="warn">Items</button>
		<button mat-raised-button disabled color="warn">Run</button>
	</div>
</div>

<app-battle-lost-modal *ngIf="isCharacterDead"></app-battle-lost-modal>

<app-battle-modal-reward
	*ngIf="!isCharacterDead && isBattleOver && (character$ | async) as character"
	[character]="character"
></app-battle-modal-reward>
