.battle_modal {
    h2{    
        text-align: center;
        color: rgb(51, 51, 51);
    }
    p, li, ul{
        color: rgb(51, 51, 51);
    }

    &-frames {
        display: flex;
        width:800px;
    }

    &-user_actions {
        text-align: center;
        button{
            margin: 10px;
        }
    }
}

.battle_modal--result{
    .battle_modal-frames{
        width: 400px;
        justify-content: center;
        margin: auto;
    }
    
    ul {
        list-style: circle;
    }

    li{
        display: flex;
    }

}