.character_infos-stats {
    li {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }
    button {
        height: 26px;
        margin-left: 20px;
        margin-top: 2px;
        mat-icon{
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
        
    }
}