<div *ngIf="unit" [class]="unitFrameClasses">
	<h2>Lv.{{ unit.level }} {{ hideName ? '' : unit.name }}</h2>
	<mat-divider></mat-divider>
	<div class="unit-status_gauge">
		<mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
		<div class="unit-status_gauge--value">
			<mat-progress-bar
				color="warn"
				mode="determinate"
				value="{{ 100 / (unit.life_points / unit.remaining_life_points) }}"
			></mat-progress-bar>
			<span>{{ unit.remaining_life_points }}/{{ unit.life_points }}</span>
		</div>
	</div>
	<div class="unit-status_gauge">
		<mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
		<div class="unit-status_gauge--value">
			<mat-progress-bar mode="determinate" value="{{ 100 / (unit.exp_to_level_up / unit.experience) }}"></mat-progress-bar>
			<span>{{ unit.experience }}/{{ unit.exp_to_level_up }} </span>
		</div>
	</div>
</div>
